<h1>Movies Show</h1>

<h2>{{movies.movie.title}}</h2>

<p>Actors</p>
<ul>
  <li ng-repeat="actor in movies.movie.actors track by $index"><a ui-sref="actorsShow({id: actor.id})">{{actor.name}}</a></li>
</ul>

<hr>

<h4>Comments</h4>
<ul>
  <li ng-repeat="comment in movies.movie.comments track by $index"><strong>{{comment.author}}</strong> - {{comment.content}}</li>
</ul>

{{movies.movie.id}}

<h4>Add a Comment</h4>

{{movies.newComment}}

<form ng-submit="movies.addComment()">
  <label>Screen Name</label><br>
  <input type="text" ng-model="movies.newComment.author" name="author" placeholder="Choose a name"><br>

  <label>Comment</label><br>
  <textarea name="content" ng-model="movies.newComment.content" rows="8" cols="40"></textarea><br>

  <input type="submit" value="submit">
</form>
